@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --header: 64px;
    --footer: 50px;
    --content: calc(100vh - (var(--header) + var(--footer)));
}
$black: #000000;
$light_pink: #FF4191;
$pink: #E90074;
$yellow: #FFF078;
$white: #fff;
$list1: #AA5486;
$list2: #FC8F54;
$list3: #3C552D;
$list4: #2A3663;
$list5: #B6A28E;
$list6: #800000;
$list7: #FF7777;
$list8: #1679AB;

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: $black;
    color: $white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    font-family: "Work Sans", serif;
}
h2 {
   margin-bottom: 18px; 
}
p {
    margin-bottom: 15px;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        a {
            padding: 0;
        }
    }
}
.responsive {
    width: 100%;
}
a {
    cursor: pointer;
    text-decoration: none;
    color: $white;
    &:hover {
        color: $light_pink;
    }
}
header {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    z-index: 9;
    background-color: black;
    width: 100%;
    img {
        width: 40px;
        height: 40px;
        margin: 10px 20px;
    }
    h1 {
        font-size: 20px;
        padding: 15px;
    }
}
header {
    &.header {
        width: 100%;
        position: fixed;
        background-color: black;
        z-index: 1;
        div {
            display: flex;
        }
    }
}
nav {
    display: flex;
    flex-direction: column;
    z-index: 1;
    &.nav-menu {

    }
    &.menu {
        width: 100%;
        height: var(--header);
    }
    ul {
        display: flex;
        padding: 0;
        li {
            padding: 20px;
            color: $light_pink;
            display: inline-block;
            position: relative;
            a {
                padding: 10px;
            }
            // Segon llistat
            ul {
                display: none;
                margin-left: 0;
            }
            &:hover {
                cursor: pointer;
                ul {
                    display: block;
                    position: absolute;
                    background-color: $pink;
                    left: 0;
                    li {
                        
                        display: block;
                        margin-bottom: 5px;
                        a {
                            padding: 5px;
                            color: $white;
                        }
                        &:hover {
                            background-color: $light_pink;
                        }
                    }
                }
            }
        }
    }
}

h2 {
    font-size: 50px;
}

.container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    // margin: var(--header) 0 0 0;
    min-height: var(--content);
    overflow: hidden;
    + div {
        height: var(--content);
        overflow-y: scroll;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        width: 100%;
    }
}

.container-responsive {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    padding-top: var(--header);
    article {
        display: flex;
        flex-grow: 1;
        flex-flow: wrap;
        aside {
            min-width: 50%;
            position: fixed;
            height: var(--content);
            top: 64px;
            display: flex;
            flex-flow: column wrap;
            nav {
                display: flex;
                flex-flow: column wrap;
                flex: 1;
            }
            ul {
                display: flex;
                flex-flow: column wrap;
                flex: 1;
            }
            li {
                display: flex;
                flex: 1;
                align-items: center;
                padding: 0 40px;
                &:nth-child(1) {
                    background-color: $list1;
                }
                &:nth-child(2) {
                    background-color: $list2;
                }
                &:nth-child(3) {
                    background-color: $list3;
                }
                &:nth-child(4) {
                    background-color: $list4;
                }
                &:nth-child(5) {
                    background-color: $list5;
                }
                &:nth-child(6) {
                    background-color: $list6;
                }
                &:nth-child(7) {
                    background-color: $list7;
                }
                &:nth-child(8) {
                    background-color: $list8;
                }
                a {
                    padding: 0;
                    flex: 1;
                    display: flex;
                }
            }
        }
        section {
            width: 50%;
            margin-left: 50%;
            padding: 0 20px 20px 20px;
        }
        section {
            flex: 1;
        }
    }
}

main {
    div {
        position: relative;
    }
}

section {
    min-height: var(--content);
    scroll-snap-align: start;
    &#portada {
        margin-top: var(--header);
        display: flex;
        background-image: image-set(
            url(../img/miyajima-tori_1400.jpg) 2x,
            url(../img/miyajima-tori_1227.jpg) 2x
        );
        background-position: center;
        background-size: cover;
        text-align: center;
        color: $white;
        justify-content: center;
        flex-direction: column;
        h2 {
            font-size: 100px;
        }
        h3 {
            font-size: 50px;
        }
    }
    &#categoria {
        background-image: image-set(
            url(../img/kyoto_1400.jpg) 2x,
            url(../img/kyoto_1325.jpg) 2x
        );
        background-position: center;
        background-size: cover;
        padding-top: 100px;
        padding-left: 100px;
        padding-right: 100px;
        .categoria-menu {
            padding-left: 0;
            margin-top: 40px;
            li {
                font-size: 40px;
                margin-bottom: 30px;
            }
        }
    }
    &#presentacio {
        position: relative;
        background-image: 
        linear-gradient(to bottom, rgba(34, 40, 49, 0.7), rgba(34, 40, 49, 0.99)),
        image-set(
            url(../img/arashiyama_1400.jpg) 2x,
            url(../img/arashiyama_1248.jpg) 2x
        );
        background-position: center;
        background-size: cover;
        padding-top: 100px;
        padding-left: 100px;
        padding-right: 100px;
        flex-direction: column;
        margin-bottom: var(--footer);
    }
    &.temples {
        display: flex;
        flex-direction: row;
        padding-top: 0;
        div {
            &:first-child {
                min-width: 50vw;
            }
            &:last-child {
                padding: 50px;
                padding-top: 0;
                picture {
                    display: block;
                    width: 100%;
                    height: 400px;
                    min-height: 400px;
                    margin-bottom: 15px;
                    overflow: hidden;
                    .responsive {
                        width: 100%;
                    }
                }
                h1 {
                    margin-bottom: 15px;
                }
            }
            ul {
                display: flex;
                flex-direction: column;
                height: 100%;
                li {
                    flex-basis: 100%;
                    font-size: 2rem;
                    transition: all .5s ease;
                    
                    &:hover {
                        box-shadow: 0 0 50px rgba(0, 0, 0, 0.5) inset;
                        cursor: pointer;
                        span {
                            font-size: 1.8rem;
                        }
                    }

                }
            }
        }
    }
    &.itineraris {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        padding: 0 100px;
        align-items: stretch;
        justify-content: center;
        text-align: center;
        a {
            display: flex;
            .card {
                width: 150px;
                display: flex;
                align-items: center;
            }
            &:hover {
                cursor: pointer;
            }
            &:nth-child(1) {
                background-color: $list1;
                &:hover {
                    background-image: 
                    linear-gradient(to bottom, rgba(34, 40, 49, 0.7), rgba(34, 40, 49, 0.99)),
                    url(../img/itinerari-este.png);
                }
            }
            &:nth-child(2) {
                background-color: $list2;
                &:hover {
                    background-image: 
                    linear-gradient(to bottom, rgba(34, 40, 49, 0.7), rgba(34, 40, 49, 0.99)),
                    url(../img/itinerari-oest.png);
                }
            }
            &:nth-child(3) {
                background-color: $list3;
                &:hover {
                    background-image: 
                    linear-gradient(to bottom, rgba(34, 40, 49, 0.7), rgba(34, 40, 49, 0.99)),
                    url(../img/itinerari-centre.png);
                }
            }
            &:nth-child(4) {
                background-color: $list4;
                &:hover {
                    background-image: 
                    linear-gradient(to bottom, rgba(34, 40, 49, 0.7), rgba(34, 40, 49, 0.99)),
                    url(../img/itinerari-centre.png);
                }
            }
            &:nth-child(5) {
                background-color: $list5;
                &:hover {
                    background-image: 
                    linear-gradient(to bottom, rgba(34, 40, 49, 0.7), rgba(34, 40, 49, 0.99)),
                    url(../img/itinerari-sur.png);
                }
            }
            &:nth-child(6) {
                background-color: $list6;
                &:hover {
                    background-image: 
                    linear-gradient(to bottom, rgba(34, 40, 49, 0.7), rgba(34, 40, 49, 0.99)),
                    url(../img/itinerari-nara.png);
                }
            }
            &:nth-child(7) {
                background-color: $list7;
                &:hover {
                    background-image: 
                    linear-gradient(to bottom, rgba(34, 40, 49, 0.7), rgba(34, 40, 49, 0.99)),
                    url(../img/itinerari-nara.png);
                }
            }
        }
        
    }
    &.detall-itinerari {
        display: flex;
        div {
            width: 50vw;
            padding: 50px;
            padding-top: 0;
        }
    }
    &#enllaços {
        display: flex;
        background-image: url(../img/DSC_0191.jpg);
        background-position: center;
        background-size: cover;
        text-align: center;
        color: $white;
        justify-content: center;
        flex-direction: column;
        li {
            padding: 5px;
        }
        a {
            cursor: pointer;
        }
        
    }
}

article {
    section {
        img, h2 {
            margin-bottom: 10px;
        }
    }
}
.svg {
    position: absolute;
    bottom: 10px;
    right: 10px;
    animation-name: animation-svg; 
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes animation-svg { 
    100% {
        transform:rotate(360deg); 
    } 
}

section.section {
    min-height: auto;
    display: initial;
    scroll-snap-align: start;
}

.clip-path {
    position: absolute;
    background-image: url(../img/DSC_0260.jpg);
    background-position: center;
    background-size: cover;
    width: 12%;
    height: 12%;
    z-index: 1;
    right: 0;
}
.tori {
    clip-path: path('M200,34.3l4.6-8.5c.1-.3.4-.4.7-.4h11.3c.3,0,.6-.2.8-.5l4.5-11.9c.2-.6-.2-1.2-.8-1.1-73.1,6.7-145.5,6.7-217.2,0-.6,0-1.1.5-.8,1.1l4.5,11.9c.1.3.4.5.8.5h11.4c.3,0,.6.2.7.4l4.6,8.5c.1.3.4.4.7.4h18c.5,0,.9.4.8.9l-1.4,20.3c0,.5-.5.8-1,.8l-3.6-.7c-.4,0-.9.2-1,.6l-.7,3.4c0,.4-.4.7-.8.7h-15.8c-.5,0-.8.4-.8.8v8.8c0,.5.4.8.8.8h20.8c.5,0,.9.4.8.9l-6,89.2c0,.4-.4.8-.8.8h-.5c-.4,0-.8.3-.8.7l-3.5,34.6c0,.5.3.9.8.9h30.1c.5,0,.8-.4.8-.8v-34.6c0-.5-.4-.8-.8-.8h0c-.5,0-.8-.4-.8-.8l2.1-89.2c0-.4.4-.8.8-.8h98.2c.4,0,.8.4.8.8l2.1,89.2c0,.5-.4.8-.8.8h0c-.5,0-.8.4-.8.8v34.6c0,.5.4.8.8.8h30.1c.5,0,.9-.4.8-.9l-3.5-34.6c0-.4-.4-.7-.8-.7h-.5c-.4,0-.8-.3-.8-.8l-6-89.2c0-.5.3-.9.8-.9h20.9c.5,0,.8-.4.8-.8v-8.8c0-.5-.4-.8-.8-.8h-17.1c-.4,0-.7-.3-.8-.7l-.7-3.4c0-.4-.5-.7-1-.6l-2.3.4c-.5,0-.9-.3-1-.8l-1.4-20.1c0-.5.3-.9.8-.9h18.1c.3,0,.6-.2.7-.4ZM106.6,35.5v24.3c0,.5-.4.8-.8.8h-36.8c-.4,0-.7-.3-.8-.7l-.7-3.4c0-.4-.5-.7-1-.6l-2.6.5c-.5,0-1-.3-1-.8l.5-20.1c0-.4.4-.8.8-.8h41.6c.5,0,.8.4.8.8ZM161,56.7l-3.9-.7c-.4,0-.9.2-1,.6l-.7,3.4c0,.4-.4.7-.8.7h-35.5c-.5,0-.8-.4-.8-.8v-24.3c0-.5.4-.8.8-.8h41.5c.4,0,.8.4.8.8l.5,20.4c0,.5-.5.9-1,.8Z');
    animation: animation-clip 3s;
    animation-delay: 2s;
    transform: translate(0, 100px);
}

@keyframes animation-clip {
    0% { clip-path: path('M570.1,76.6l13.2-24.5c.4-.8,1.2-1.2,2.1-1.2h32.4c1,0,1.9-.6,2.2-1.5l12.9-34c.6-1.6-.7-3.3-2.4-3.2-209.4,19.2-416.7,19.2-622.1,0-1.7-.2-3,1.5-2.4,3.2l12.9,34c.3.9,1.2,1.5,2.2,1.5h32.6c.9,0,1.7.5,2.1,1.2l13.2,24.5c.4.8,1.2,1.2,2.1,1.2h51.5c1.4,0,2.4,1.2,2.4,2.5l-3.9,58.2c0,1.4-1.4,2.4-2.8,2.2l-10.2-1.9c-1.3-.2-2.5.6-2.7,1.8l-2,9.6c-.2,1.1-1.2,1.9-2.3,1.9h-45.1c-1.3,0-2.4,1.1-2.4,2.4v25.3c0,1.3,1.1,2.4,2.4,2.4h59.7c1.4,0,2.4,1.2,2.4,2.5l-17.3,255.5c0,1.2-1.1,2.2-2.4,2.2h-1.5c-1.2,0-2.2.9-2.3,2.1l-10,99c-.1,1.4,1,2.6,2.3,2.6h86.2c1.3,0,2.4-1.1,2.4-2.4v-99c0-1.3-1.1-2.4-2.4-2.4h0c-1.3,0-2.4-1.1-2.4-2.4l6-255.5c0-1.3,1.1-2.3,2.4-2.3h281.2c1.3,0,2.3,1,2.4,2.3l6,255.5c0,1.3-1,2.4-2.4,2.4h-.2c-1.3,0-2.4,1.1-2.4,2.4v99c0,1.3,1.1,2.4,2.4,2.4h86.2c1.4,0,2.5-1.2,2.3-2.6l-10-99c-.1-1.2-1.1-2.1-2.3-2.1h-1.3c-1.2,0-2.3-1-2.4-2.2l-17.3-255.5c0-1.4,1-2.5,2.4-2.5h60c1.3,0,2.4-1.1,2.4-2.4v-25.3c0-1.3-1.1-2.4-2.4-2.4h-48.9c-1.1,0-2.1-.8-2.3-1.9l-2-9.6c-.3-1.3-1.5-2.1-2.7-1.8l-6.7,1.3c-1.4.3-2.7-.7-2.8-2.2l-3.9-57.5c0-1.4,1-2.5,2.4-2.5h51.8c.9,0,1.7-.5,2.1-1.2ZM302.7,80.2v69.6c0,1.3-1.1,2.4-2.4,2.4h-105.4c-1.1,0-2.1-.8-2.3-1.9l-2-9.6c-.3-1.3-1.5-2.1-2.7-1.8l-7.5,1.4c-1.5.3-2.8-.9-2.8-2.4l1.3-57.7c0-1.3,1.1-2.3,2.4-2.3h119.1c1.3,0,2.4,1.1,2.4,2.4ZM458.4,140.8l-11.1-2.1c-1.3-.2-2.5.6-2.7,1.8l-2,9.6c-.2,1.1-1.2,1.9-2.3,1.9h-101.7c-1.3,0-2.4-1.1-2.4-2.4v-69.6c0-1.3,1.1-2.4,2.4-2.4h118.9c1.3,0,2.3,1,2.4,2.3l1.4,58.4c0,1.5-1.3,2.7-2.8,2.4Z'); }
    // 50% { clip-path: path('M383,51.6l8.8-16.3c.3-.5.8-.8,1.4-.8h21.7c.7,0,1.2-.4,1.5-1l8.6-22.7c.4-1.1-.5-2.2-1.6-2.1-139.9,12.9-278.5,12.9-415.7,0-1.2-.1-2,1-1.6,2.1l8.6,22.7c.2.6.8,1,1.5,1h21.8c.6,0,1.1.3,1.4.8l8.8,16.3c.3.5.8.8,1.4.8h34.4c.9,0,1.6.8,1.6,1.7l-2.6,38.9c0,.9-.9,1.6-1.9,1.4l-6.8-1.3c-.8-.2-1.7.4-1.8,1.2l-1.3,6.4c-.2.7-.8,1.3-1.5,1.3h-30.2c-.9,0-1.6.7-1.6,1.6v16.9c0,.9.7,1.6,1.6,1.6h39.9c.9,0,1.6.8,1.6,1.7l-11.6,170.8c0,.8-.7,1.5-1.6,1.5h-1c-.8,0-1.5.6-1.6,1.4l-6.7,66.1c0,.9.6,1.7,1.6,1.7h57.6c.9,0,1.6-.7,1.6-1.6v-66.1c0-.9-.7-1.6-1.6-1.6h0c-.9,0-1.6-.7-1.6-1.6l4-170.8c0-.9.7-1.5,1.6-1.5h187.9c.9,0,1.6.7,1.6,1.5l4,170.8c0,.9-.7,1.6-1.6,1.6h-.1c-.9,0-1.6.7-1.6,1.6v66.1c0,.9.7,1.6,1.6,1.6h57.6c.9,0,1.7-.8,1.6-1.7l-6.7-66.1c0-.8-.8-1.4-1.6-1.4h-.9c-.8,0-1.5-.6-1.6-1.5l-11.6-170.8c0-.9.7-1.7,1.6-1.7h40.1c.9,0,1.6-.7,1.6-1.6v-16.9c0-.9-.7-1.6-1.6-1.6h-32.7c-.7,0-1.4-.5-1.5-1.3l-1.3-6.4c-.2-.8-1-1.4-1.8-1.2l-4.5.8c-.9.2-1.8-.5-1.9-1.4l-2.6-38.5c0-.9.7-1.7,1.6-1.7h34.6c.6,0,1.1-.3,1.4-.8ZM204.3,54v46.5c0,.9-.7,1.6-1.6,1.6h-70.5c-.7,0-1.4-.5-1.5-1.3l-1.3-6.4c-.2-.8-1-1.4-1.8-1.2l-5,.9c-1,.2-1.9-.6-1.9-1.6l.9-38.6c0-.9.7-1.5,1.6-1.5h79.6c.9,0,1.6.7,1.6,1.6ZM308.4,94.6l-7.4-1.4c-.8-.2-1.7.4-1.8,1.2l-1.3,6.4c-.2.7-.8,1.3-1.5,1.3h-67.9c-.9,0-1.6-.7-1.6-1.6v-46.5c0-.9.7-1.6,1.6-1.6h79.4c.9,0,1.6.7,1.6,1.5l.9,39c0,1-.9,1.8-1.9,1.6Z'); }
    100% { clip-path: path('M200,34.3l4.6-8.5c.1-.3.4-.4.7-.4h11.3c.3,0,.6-.2.8-.5l4.5-11.9c.2-.6-.2-1.2-.8-1.1-73.1,6.7-145.5,6.7-217.2,0-.6,0-1.1.5-.8,1.1l4.5,11.9c.1.3.4.5.8.5h11.4c.3,0,.6.2.7.4l4.6,8.5c.1.3.4.4.7.4h18c.5,0,.9.4.8.9l-1.4,20.3c0,.5-.5.8-1,.8l-3.6-.7c-.4,0-.9.2-1,.6l-.7,3.4c0,.4-.4.7-.8.7h-15.8c-.5,0-.8.4-.8.8v8.8c0,.5.4.8.8.8h20.8c.5,0,.9.4.8.9l-6,89.2c0,.4-.4.8-.8.8h-.5c-.4,0-.8.3-.8.7l-3.5,34.6c0,.5.3.9.8.9h30.1c.5,0,.8-.4.8-.8v-34.6c0-.5-.4-.8-.8-.8h0c-.5,0-.8-.4-.8-.8l2.1-89.2c0-.4.4-.8.8-.8h98.2c.4,0,.8.4.8.8l2.1,89.2c0,.5-.4.8-.8.8h0c-.5,0-.8.4-.8.8v34.6c0,.5.4.8.8.8h30.1c.5,0,.9-.4.8-.9l-3.5-34.6c0-.4-.4-.7-.8-.7h-.5c-.4,0-.8-.3-.8-.8l-6-89.2c0-.5.3-.9.8-.9h20.9c.5,0,.8-.4.8-.8v-8.8c0-.5-.4-.8-.8-.8h-17.1c-.4,0-.7-.3-.8-.7l-.7-3.4c0-.4-.5-.7-1-.6l-2.3.4c-.5,0-.9-.3-1-.8l-1.4-20.1c0-.5.3-.9.8-.9h18.1c.3,0,.6-.2.7-.4ZM106.6,35.5v24.3c0,.5-.4.8-.8.8h-36.8c-.4,0-.7-.3-.8-.7l-.7-3.4c0-.4-.5-.7-1-.6l-2.6.5c-.5,0-1-.3-1-.8l.5-20.1c0-.4.4-.8.8-.8h41.6c.5,0,.8.4.8.8ZM161,56.7l-3.9-.7c-.4,0-.9.2-1,.6l-.7,3.4c0,.4-.4.7-.8.7h-35.5c-.5,0-.8-.4-.8-.8v-24.3c0-.5.4-.8.8-.8h41.5c.4,0,.8.4.8.8l.5,20.4c0,.5-.5.9-1,.8Z');}
}

footer {
    display: flex;
    height: var(--footer);
    z-index: 99;
    padding: 10px;
    position: fixed;
    bottom: 0;
    background-color: black;
    width: 100%;
    div {
        display: flex;
        flex-direction: row;
        padding: 0 10px;
        a {
            img {
                width: 35px;
            }
        }
        span {
            padding: 10px 20px; 
        }
    }
    
    nav {
        align-items: flex-end;
        flex-grow: 1;
        ul li {
            padding: 10px;
        }
    }
}

footer {
    &.footer {
        display: flex;
        width: 100%;
        background-color: black;
        position: fixed;
        bottom: 0;
        height: auto;
    }
}

#categoria {
    .card {
        width: 33.33%;
        box-shadow: 0 -5px 32px 10px black;
        display: flex;
        flex-direction: row;
        padding: 20px;
        align-items: center;
        border-radius: 15px;
        margin-bottom: 10px;
        .card-header {
            width: 200px;
            height: 60px;
            overflow: hidden;
        }
        .card-body {
            padding: 20px;
            h3 {
                font-size: 40px;
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    #categoria {
        .card {
            width: 100%;
            flex-direction: column;
            .card-header {
                width: 100%;
                height: 100px;
                overflow: hidden;
                img {
                    height: 100px;
                    object-fit: cover;
                }
            }
            .card-body {
                padding: 20px;
                h3 {
                    font-size: 40px;
                }
            }
        }   
    }
}

@media screen and (max-width: 768px) {
    .container {
        margin: 2rem 0 0 0;
        overflow: auto;
    }
    section {
        &#portada {
            background-image: image-set(
                url(../img/miyajima-tori_986.jpg) 2x,
                url(../img/miyajima-tori_671.jpg) 2x
            );
        }
        &#presentacio {
            padding-left: 50px;
            padding-right: 50px;
        }
        &.temples {
            flex-direction: column;
            div {
                &:first-child {
                    margin-bottom: 20px;
                    ul {
                        display: flex;
                        flex-direction: column;
                        li {
                            padding: 0 !important;
                            font-size: 1.2rem !important;
                            a {
                                padding: 10px;
                            }
                            &:hover {
                                box-shadow: 0 0 50px rgba(0, 0, 0, 0.5) inset;
                                cursor: pointer;
                                span {
                                    font-size: 1rem;
                                }
                            }
                        }
                    }
                }
                &:last-child {
                    picture {
                        height: auto;
                        min-height: auto;
                    }
                }
            }
        }
        &.itineraris {
            flex-direction: column;
            gap: 0;
            padding: 0;
            justify-content: flex-start;
            text-align: center;
            a {
                display: flex;
                flex: 1;
                .card {
                    width: 100vw;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            
        }
        &#enllaços {
            margin-top: 0;
        }
        &.detall-itinerari {
            flex-direction: column-reverse;
            justify-content: flex-end;
            div {
                width: 100vw;
            }
        }
    }
    footer {
        flex-direction: column;
        height: auto;
        div {
            justify-content: center;
        }
        nav {
            align-items: center;
        }
    }
    .clip-path {
        width: 200px;
        right: 64px;
        top: 64px;
    }
    .svg {
        bottom: 64px;
    }
    .container-responsive {
        padding-top: 0;
        article {
            aside {
                position: initial;
                height: auto;
                ul {
                    flex-flow: row wrap;
                    flex: none;
                    a {
                        padding: 5px;
                    }
                }
            }
            section {
                width: 100%;
                margin-left: 0;
                padding: 20px;
            }
        }
    }
    header {
        position: initial;
        flex-direction: column;
        &.header {
            position: initial;
            div {
                display: flex;
                justify-content: center;
                img {
                    width: 30px;
                    margin-bottom: 0;
                }
                h1 {
                    padding: 15px 0;
                }
            }
            nav {
                ul {
                    justify-content: center;
                }
            }
        }
    }
}
@media screen and (max-width: 468px) {
    section {
        &#portada {
            background-image: image-set(
                url(../img/miyajima-tori_671.jpg) 2x,
                url(../img/miyajima-tori_200.jpg) 2x
            );
        }
    }
}