doctype html
html(lang="ca")
    head
        title Kyoto
        link(rel="stylesheet", href="css/styles.scss")
    body
        include  ../mixins/nav-external.pug
        +menu-nav-external()
    
        main(class="container")
            div
                section(class="detall-itinerari")
                    div
                        h2 A l'oest de Kioto
                        p Gaudir de tota la zona de Arashiyama, sens dubte, siga quina siga l'època de l'any. Creuar el pont Togetsukyō, perdre's en el bosc de bambú, saludar als micos que viuen en Iwatayama, veure temples i santuaris entre la naturalesa… #Ací pots passar unes hores fent manualitats com per exemple pintar ventalls, tenyir teles a l'estil tradicional, fer lacatges o ceràmica de Arashiyama… Tens més detalls en l'article enllaçat.
                        p Passejar pel districte de conservació històrica de Saga Toriimoto, al nord de Arashiyama. Molt més tranquil i relaxat que la zona central de Arashiyama i amb temples tan espectaculars com el temple Adashino Nenbutsu-ji o el temple Otagi Nenbutsu-ji.
                        p Fer fotos al tramvia de Arashiyama passant pel túnel de cirerers entre les estacions de Narutaki i Utano, sobretot si vas en plena època de floració dels cirerers.
                        p Meravellar-se davant el temple Kinkaku-ji, també anomenat pavelló d'or per les seues làmines d'or… la imatge més espectacular i icònica de Kyoto! És igual quants turistes hi haja, al temple Kinkakuji cal anar, sí o sí.
                        p Visitar algun dels meravellosos jardins zen del complex de temples del temple Daitokuji, com per exemple, el jardí del temple Daisen-in o el del temple Zuiho-in.
                        p Meditar asseguts enfront del preciós jardí zen del temple Ryoan-ji i intentar veure, sense moure'ns, totes les pedres del jardí… seràs capaç?
                        p Gaudir de la visita dels diferents edificis, pagoda i jardins del temple *Ninna-*ji.
                    div
                        img(src="img/itinerari-oest.png")
        footer
            div
                a(href="index.pug") 
                    img(src="img/tori-logo.svg")
                span Rafael Maestre i Montañana
            include  ../mixins/footer.pug
            +footer()
            