doctype html
html(lang="ca")
    head
        title Kyoto
        link(rel="stylesheet", href="css/styles.scss")
    body
        include  ../mixins/nav-external.pug
        +menu-nav-external()
    
        main(class="container")
            div
                section(class="detall-itinerari")
                    div 
                        h2 Al sud de Kioto
                        p Molt prop de l'estació de Kyoto, pots acostar-te a veure la pagoda del temple Tōji, la torre de fusta més alta del país. La visita al temple és especialment interessant els 21 de cada mes, quan se celebra el mercat ambulant Kobo-sant.
                        p A pocs minuts de l'estació central de Kyoto, cap al sud, destaquem el santuari de Fushimi Inari Taisha, conegut pels seus llargs camins de torii rojos. Un dels llocs favorits dels turistes que visiten Kyoto.
                        p Prop de Fushimi Inari es troba el gran complex del temple Tofukuji, una meravella especialment a la tardor, amb el canvi de color de les fulles. Encara que a l'estiu, amb el verd elèctric, també està preciós.
                        p Aprofitant que estàs per la zona de Fushimi, acosta't al districte del *sake de Fushimi, ple de cellers de sake i botigues d'estil tradicional. A més, és un lloc històricament important per la presència de Sakamoto Ryoma en temps previs a la Restauració Meiji.
                        p Especialment a la tardor (encara que també està bonic a la primavera amb els cirerers en flor), et recomanem visitar el temple Daigo-ji, una de les estampes de la tardor a Kyoto. I si tens temps i ganes, pots pujar fins a Kami-Daigo, el complex superior del temple.
                        p També fora dels límits de la ciutat de Kyoto, destaquem la ciutat de *Uji, especialment per a visitar el santuari *Ujigami, el fabulós temple *Byodo-*in (que pots veure en les monedes de 10 iens) o el Nintendo *Museum (en 2024).
                    div
                        img(src="img/itinerari-nord.png")
        footer
            p Rafael Maestre i Montañana
            