doctype html
html(lang="ca")
    head
        title Kyoto
        link(rel="stylesheet", href="css/styles.scss")
    body
        include  ../mixins/nav-external.pug
        +menu-nav-external()
    
        main(class="container")
            div
                section(class="detall-itinerari")
                    div
                        h2 Altres punts d'interés
                        p I si encara vols més, lloga una bicicleta i feix una ruta per Kyoto amb bici, com ho fan els vilatans. Això sí, compte amb no deixar la bicicleta mal aparcada o en llocs prohibits, si no vols perdre-la i pagar una multa. Consulta la web de Kyoto-*Bicycle per a veure on llogar una bicicleta, quina *aparxamientos hi ha disponibles, rutes, etc.
                        p I finalment, també recomanem gaudir d'algun dels tres grans festivals de la ciutat: el *Aoi *Matsuri, el *Gion *Matsuri i el *Jidai *Matsuri. O acostar-te fins a *Kurama per a gaudir del Festival del foc de *Kurama o gaudir del festival Gaudixen no *Okuribi, més conegut com “*Daimonji”.
                    div
                        img(src="img/itinerari-centre.png")
        footer
            p Rafael Maestre i Montañana
            